<h1> Username:  {{ userName }}</h1>

<h2> Number: {{ number }}</h2>

<input type = "text" [(ngModel)]="userName" (input)= "addOne()">

<h1> Bloque &#64; if  - Renderizado dinámico</h1>
@if (conditional) {

    <h2> La condición se cumple </h2>
}

@else if (conditional2) {
    <h2> La otra condición se cumple </h2>
} @else {
    <h2> Las condiciones no se cumplen </h2>
}

<h1> Bloque &#64; For  - Renderizado de listas</h1>

<p> @for (book of books; track book) {
    <p> {{ $index + 1 }} - {{ book }}</p>
 } </p>

 @for (animal of animals; track animal.id) {
  
        <li>
            <h2> {{ animal.name }} </h2>
            <img [src] = "animal.img" alt="" width="200" >
        </li>
 }

<h1> Bloque &#64; Input  - Comunicación padre-hijo</h1>

<app-child [msg]="text" [person]="person"></app-child>

<h1> Bloque &#64; Output |  Comunicación hijo-padre  &uarr </h1>

<h2> Hola {{ name }} </h2>

<app-child (login)="setName($event)"> </app-child>